[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 230    # edit to your preferred park position
default_parameter_Y: 230    # edit to your preferred park position
default_parameter_Z: 10     # edit to your preferred park position
default_parameter_E: 1      # edit to your preferred retract length
gcode:
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{Z}
  G90
  G1 X{X} Y{Y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      # edit to your preferred retract length
gcode:
  G91
  G1 E{E} F2100
  G90
  RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
  BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  BASE_CANCEL_PRINT

[gcode_macro START_PRINT]
gcode:
  G90 ; use absolute coordinates
  M83 ; extruder relative mode
  G29 ; BLTouch
  #G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
  #G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
  
[gcode_macro FINISH_PRINT]
gcode:
  BED_MESH_CLEAR
  G91 ;Relative positioning
  G1 E-0.5 F2700 ;Retract a bit
  G1 E-0.5 Z0.2 F2400 ;Retract and raise Z
  G1 X5 Y5 F3000 ;Wipe out
  G1 Z10 ;Raise Z more
  G90 ;Absolute positionning
  G1 X0 Y210 ;Present print
  M106 S0 ;Turn-off fan
  M104 S0 ;Turn-off hotend
  M140 S0 ;Turn-off bed
  M84 X Y E ;Disable all steppers but Z

[gcode_macro PRIME_LINE]
gcode:
  G1 Z2 F240
  G1 X0.1 Y10 F3000
  G1 Z0.28 F240
  G92 E0
  G1 Y190 E15 F1500 ; intro line
  G1 X0.4 F5000
  G92 E0
  G1 Y10 E15 F1200 ; intro line
  G92 E0

[gcode_macro G29]
gcode:
  G28
  G1 Z10 F600
  BED_MESH_CALIBRATE
  BED_MESH_OUTPUT 

[gcode_macro UNLOAD]
gcode:
  G1 E2 F150 # extrude some at 2.5mm/s
  G1 E-0.5 F2400 # pull back fast to prevent ozzing at 40mm/s
  G1 E-40 F900 # slowly pulls out while cooling at 15mm/s
  G90

[gcode_macro PURGE]
gcode:
  G91
  G1 E45.0 F250
  G90

[gcode_macro LOAD]
gcode:
  G91
  G1 E40 F250 # push in slowly at 4.17mm/s
  G90

[gcode_macro M600]
default_parameter_X: 20
default_parameter_Y: 20
default_parameter_Z: 30
gcode:
    SAVE_GCODE_STATE NAME=M600                                                  ;Save state
    PAUSE                                                                       ;Pause print
        G91                                                                     ;Relative positioning
    G1 Z20 F900                                                                 ;Raise Z away from print
    G90                                                                         ;Absolute positioning
    G1 X{X} Y{Y} F5000                                                          ;Move to purge bucket
    G1 Z{Z} F5000                                                               ;Move to purge bucket
    UNLOAD_FILAMENT                                                             ;Unload the spool so you can change color
        RESTORE_GCODE_STATE NAME=M600                                           ;Restore state

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOAD                                                  ;Save state
    G91                                                                         ;Relative positioning
      G1 E40 F250
    G90                                                                         ;Absolute positioning
    RESTORE_GCODE_STATE NAME=LOAD                               ;Restore state
    SET_IDLE_TIMEOUT TIMEOUT=7200                               ;Timeout